<ion-view view-title="Search" name="flight">
  <ion-content class="padding">

<div class="list">

  
<div class="list"> 
  
   <a class="item item-icon-left" href="#">
    <i class="icon ion-android-call"></i>
    Visa-Services
    <span class="item-note-right">
   <a href="tel:+9714263588" class="button button-positive"> 04 263 5888</a>
    </span>

  </a>


 <a class="item item-icon-left" href="#">
    <i class="icon ion-android-call"></i>

      <h2>Immigration</h2>
      
      <a href="tel:+800 5111" class="button button-positive"> 800 5111</a>
    </a>

      <a class="item item-icon-left" href="#">
    <i class="icon ion-android-call"></i>
      <h2>Ministry of labour</h2>
       <a href="tel:+800 665" class="button button-positive"> 800 665</a>
      
    </a>

  </div>

  

  </div>

  </ion-content>
</ion-view>



