<ion-view title="Search"  >
  <ion-content class="padding" >
  
     <label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="Search">
</label>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
     
<a class="item item-icon-left"  href="#/tab/hospitals">
    <i class="icon ion-medkit"  ></i>

    Hospitals
  </a>

  <a class="item item-icon-left" href="#/tab/universities">
    <i class="icon ion-ios-book"></i>
    Universities
  </a>

  <a class="item item-icon-left" href="#/tab/gym">
    <i class="icon ion-ios-body"></i>
    Gyms
     
  </a>

  <a class="item item-icon-left" href="#/tab/rest">
    <i class="icon ion-android-restaurant"></i>
    Restaurants
   
  </a>
  </ion-content>
</ion-view>
