<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-light">

  <!-- Dashboard Tab -->
  <ion-tab title="home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash" class="myTabStyle">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search-strong" icon-on="ion-ios-search-strong" href="#/tab/search" class="searchStyle">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Fare" icon-off="ion-cash" icon-on="ion-cash" href="#/tab/nearby" class="nearbyStyle">
    <ion-nav-view name="tab-nearby"></ion-nav-view>
  </ion-tab>

  <ion-tab title="nearby" icon-off="ion-navigate" icon-on="ion-navigate" href="#/tab/near" class="settingsStyle">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Hotline" icon-off="ion-android-call" icon-on="ion-android-call" href="#/tab/flight" class="hotlineStyle">
    <ion-nav-view name="tab-flight"></ion-nav-view>
  </ion-tab>


</ion-tabs>
